<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".platform.capture.experimental.ExperimentalDisplayMirrorActivity"
            android:exported="true"
            android:theme="@style/Theme.Warpnect" />
        <service
            android:name=".platform.capture.experimental.ExperimentalAppCodecService"
            android:exported="false"
            android:process=":codecExperiment" />
    </application>

</manifest>
